.idea
game/dota/pak01_dir/sounds/
game/dota/pak01_dir/particles/
game/dota/pak01_dir/particle/
game/dota/pak01_dir/dev/
game/dota/pak01_dir/recorder/
game/dota/pak01_dir/elements/
game/dota/pak01_dir/resource/cache/
game/dota/pak01_dir.vpk